.popover_container_as_place_holder {
  /* background-color: blue; */
  /* opacity: 0.2; */
  /* width: 100%; */
  /* height: 100%; */
  /* filter: blur(1px); */
  position: relative;
  cursor: pointer;
}

.overlay_inactive {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: coral;
}
.overlay_active {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: show;
  z-index: 9;
  background-color: coral;
  opacity: 0.2;
}

/* (看上去)侧边栏上弹出的子侧边栏 */
.popover_inactive {
  display: none;

}
.popover_active {
  position: fixed;
  left: 90px;
  bottom: 0;
  width: 220px;
  height: 100vh;
  /* height: 130px; */
  background-color: #d6f4fe;
  z-index: 9;
  display: flex;
  flex-direction: column;
  cursor: default;
  
}

/* 子侧边栏的 固定内容 */
.child_side_bar_header {
  height: 50px;
  /* background-color: blue; */
}
.child_side_bar_content {
  height: 100%;
  /* background: blueviolet; */
}
.child_side_bar_tail {
  height: 50px;
  /* background-color: red; */
}
