$flex: flex;
$border: 1px solid beige;
$height: 30px;
$pointer: pointer;
$w40: 40px;
$active_color: #41a5ee;

@mixin no-select {
  user-select:none
}
// 这是title 中各项的 container
.title_container {
  display: $flex;
  align-items: center;

  height: $height;
  margin-left: 2rem;
}
// 这是date 项的container
.date_container {
  margin-right: 2rem;
  line-height: $height;
}
.arrow_container {
  margin-right: 2rem;
  cursor: $pointer;
  display: $flex;
  line-height: $height;
}
.arrow {
  width: $w40;
  @include no-select;
}
.arrow:hover {
  color: $active_color;
}
.calendar_container {
  display: $flex;
  @include no-select;
  line-height: $height;
}
.flex_container {
  display: $flex;
}
.m2 {
  margin-right: 2rem;
}
.w40 {
  width: $w40;
}

@mixin maybe_i_mistake {
  border: $border;
  width: $w40;
  cursor: $pointer;
  border-radius: 5px;
}
.w40_border {
  @include maybe_i_mistake;
  @include no-select;
}

.w40_border_active {
  @include maybe_i_mistake;
  background-color: $active_color;
 @include no-select()
}
