$flex: flex;
$border: 1px solid beige;
$height: 30px;
$pointer: pointer;
$w40: 40px;
// 这是title 中各项的 container
.title_container {
  display: $flex;
  align-items: center;

  height: $height;
  margin-left: 2rem;
}
// 这是date 项的container
.date_container {
  margin-right: 2rem;
  line-height: $height;
}
.arrow_container {
  margin-right: 2rem;
  cursor: $pointer;
  display: $flex;
  line-height: $height;
}
.arrow {
  width: $w40;
}
.arrow:hover{
  color:aqua
}
.calendar_container {
  display: $flex;

  line-height: $height;
}
.flex_container {
  display: $flex;
}
.m2 {
  margin-right: 2rem;
}
.w40 {
  width: $w40;
}
.w40_border {
  border: $border;
  width: $w40;
  cursor: $pointer;
}
