.head {
  height: 130px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

 /* 去除a标签的固有样式 */
.remove_a_style{
text-decoration: none;
color:black;
}
.remove_a_style:hover{
  color:black;
}

/* banner 左上角的 svg和 产品名称标识 */
.leftTop {
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.rightTop {
  display: flex;
}
.title {
  font-size: 30px;
  font-weight: lighter;
}
.todoSvg {
  background-image: url(../../assets/svg/TODO_INFO.svg);
  height: 64px;
  width: 64px;
}

.background {
  height: 600px;
  width: 100%;

  background-color: #41a5ee;
}
.innerImage {
  height: 600px;
  width: 60vw;
  margin: 0 auto;
  background-image: url(../../assets/images/welcome.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.white {
  color: whitesmoke;
}

.content {
  padding-left: 2rem;
  text-align: left;
}

/* login 页面的 样式 */
.login_page {
  max-width: 80vw;
}

.login_or_registration {
  width: 50vw;
  
  height: 50vh;
  margin: 20vh auto;
  display: flex;
}

/* 放置不同的图片 */
.login_or_registration_image {
  width: 200px;
  height: 200px;
  cursor: zoom-in;
}

.login_image {
  background-image: url(../../assets/images/loginImage.jpg);
  background-position: center;
  width: 200px;
  height: 200px;
}

.register_image {
  background-image: url(../../assets/images/loginImage.jpg);
  background-position: right;
  width: 200px;
  height: 200px;
}

.form_panel {
  margin-left: 1rem;
  width: 20vw;
  min-width: 20vw;
  height: 20vh;
}
