.main_page_container{
  display: flex;
}

.sidebar {
  width: 90px;

  background-color: #353d40;
  height: 100vh;
}

.main_page_content{
background-color: tomato;
width: 100%;
}

.task_container{
  /* display: flex; */
}