.main_page_container {
  display: flex;
}

.main_page_content {
  background-color: tomato;
  width: 100%;
}

.sidebar {
  width: 90px;

  background-color: #353d40;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* *sidebar中头像avatar区域的样式 */

.fixed_area_avatar {
  width: 100%;
  height: 90px;
  background-color: #353d40;
  padding-top: 10px;
}

.fixed_area_regular_stuff {
  height: 260px;
  background-color: red;
}
/* 如果你不知道是什么意思，不要动  */
.optionalPluginPlace {
  height: 100%;
  background-color: blue;
  overflow: scroll;
}
/* 如果你不知道是什么意思，不要动  */
.optionalPluginPlace::-webkit-scrollbar {
  display: none;
}

.fixed_area_about {
  height: 150px;
  bottom: 0;
  width: 100%;
  background-color: brown;
}
/*  这是 网上的关于
如何实现比 1px 更细的线的样例
https://zhuanlan.zhihu.com/p/80800239
*/
.thinner_line::after {
  content: "";
  display: block;
  height: 1px;
  transform: scaleY(0.2);
  background: #ccc;
}

.avatar_hexagon_container {
  width: 45px;
  height: 50px;

  margin: 0 auto;
  /*  六边形战士*/
  overflow: hidden;
  transform: rotate(120deg);
}

.avatar_hexagon_layer1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(-60deg);
}

.avatar_hexagon_layer2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(-60deg);
}

/*  假头像 */
.dummy_avatar {
  background-image: url(../../assets/images/dummy_avatar.jpg);
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.my_personal_stuff {
  color: #a0a9ad;
  font-size: 12px;
}

/* *styles.fixed_area_regular_stuff  
 包含侧边栏的任务、便签、项目 的内容
*/

.task_like_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0;
}
.task_icon {
  background-image: url(../../assets/svg/icons_32/task.svg);
  width: 32px;
  height: 32px;
}

.word_color_ddd {
  color: #ddd;
  font-size: 16px;
  user-select: none;
}

.note_icon {
  background-image: url(../../assets/svg/icons_32/note.svg);
  width: 32px;
  height: 32px;
}
.project_icon {
  background-image: url(../.././assets/svg/icons_32/project.svg);
  width: 32px;
  height: 32px;
}

.position_icon {
  background-image: url(../.././assets/svg/icons_32/position.svg);
  width: 32px;
  height: 32px;
}
.label_icon {
  background-image: url(../.././assets/svg/icons_32/label.svg);
  width: 32px;
  height: 32px;
}

.fixed_area_about {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

.fixed_area_container {
  display: block;
}
.search_icon {
  background-image: url(../.././assets/svg/icons_32/search.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin: 1rem auto;
}

.message_icon {
  background-image: url(../.././assets/svg/icons_32/message.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  margin: 1rem auto;
}
.setting_icon {
  background-image: url(../.././assets/svg/icons_32/setting.svg);
  width: 35px;
  height: 32px;
  background-repeat: no-repeat;
  margin: 1rem auto;
}
