/*
这是自动生成的css module文件
*/

.container {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Consolas, "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 1000px;
  
}
.title {
  line-height: 50px;
  height: 50px;
  /* background-color: red; */
  align-items: center;
  display: flex;
  position: relative;
}
.content {
  /* background-color: saddlebrown; */
  height: calc(100vh - 50px);
}


.border_bottom{
    border-bottom: 1px solid #4a4942;
}