.sawpo_container {
  /* padding: 0 1rem; */
  display: flex;
  flex-direction: column;
  height: 100%;
}
.title_bar {
  border-bottom: 1px solid #ccd;
  height: 40px;
}

.content {
  padding: 0 1rem;
  height: 100%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
}
.row {
  /* background-color: cornsilk; */
text-align: left;
}

.tail {
  border-top: 1px solid #ccd;
  height: 40px;
  display: flex;
  /* padding: 0 0.5rem; */
  justify-content: space-around;
}

.item {
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  /* background: cadetblue; */
}

.vertical_line {
  content: "";
  display: block;
  width: 1px;
  height: 90%;
  margin: auto 0;
  /* transform: scaleY(0.2); */
  background-color: black;
}
