/* 这是sidebar的宽度 */
.sidebar {
  width: 200px;
  background-color: #212121;
  height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.thinner_line::after {
  content: "";
  display: block;
  height: 1px;
  transform: scaleY(0.2);
  background: #ccc;
}
.regular {
  /* not necessary */
  height: 500px;
}
.top {
  height: 100px;
  /* background-color: chartreuse; */
}
.bottom {
  display: block;
  /* background-color: brown; */
}

.should_be_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto;
  /* background-color: burlywood; */
}

.plugins {
  /* background-color: chocolate; */
  height: 100%;
}
