@mixin thinner_line {
  content: "";
  display: block;
  height: 1px;
  transform: scaleY(0.2);
  background: #ccc;
}
// 打开宽度
$w200: 200px;
// 关闭的宽度
$w50: 50px;

@mixin sidebar {
  width: $w200;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // 给 sidebar的 减小按钮提供定位基准
  // position: relative;
}

.w_200 {
  width: $w200;
}
.w_50 {
  $w50: 50px;
}
