@mixin thinner_line {
  content: "";
  display: block;
  height: 1px;
  transform: scaleY(0.2);
  background: #ccc;
}
$w200: 200px;
$w50: 50px;
$dark_bg: #212529;
$dark_color: #ffffff;
$light_bg: #ffffff;
$light_color: #212529;

@mixin dark {
  $dark_bg: #212529;
  $dark_color: #ffffff;
}
@mixin light {
  $light_bg: #ffffff;
  $light_color: #212529;
}
@mixin sidebar {
  width: $w200;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // 给 sidebar的 减小按钮提供定位基准
  position: relative;
}

.w_200 {
  width: $w200;
}
.icon_and_text {
}
