/* @tailwind base; */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ml-5 {
  margin-left: 5px;
}
/*  切换 color mode */
.color-change-base {
  @apply tw-bg-gray-100 tw-text-black dark:tw-bg-blue-900   dark:tw-text-white;
}

@layer components {
  .tooltip {
    @apply tw-absolute tw-p-4 tw-text-lg tw-left-28 -tw-top-0 tw-bg-gray-900 tw-shadow-md tw-rounded-md
  tw-text-white 
    tw-font-bold 
    tw-transition-all tw-duration-100 tw-origin-left tw-scale-0 ; 
  }
}
