/*
这是自动生成的css module文件
*/

/*              z-index 
  cover_left      20
  p_container     19
  cover_content   18
 */
.p_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.for_pic_and_text {
  display: flex;
  flex-direction: column;
}
.pic {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.m_5 {
  margin: 5px 0;
}
.m_5_horizontal {
  margin: 0 1rem;
}

.p_container:hover {
  background-color: rgb(88, 81, 81);
}

.cover_left {
  width: 200px;
  height: 100vh;
  background-color: orange;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.1;
  z-index: 20;
  cursor: pointer;
  overflow: auto;
}
.cover_content {
  background-color: black;
  left: 200px;
  top: 0;
  opacity: 0.1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 18;
  cursor: pointer;
}

.no_display {
  display: none;
}

.for_icon_and_text {
  display: flex;
  justify-content: start;
}

.text_blue {
  color: #25a8d5;
  font-size: 12px;
  user-select: none;
}
.text_white {
  color: white;
  font-size: 12px;
  user-select: none;
}
.icon_blue {
  color: #25a8d5;
}
.icon_white {
  color: white;
}

.child_sidebar_show {
  position: fixed;
  left: 200px;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: white;
  z-index: 22;
}

.child_sidebar_hidden {
  display: hidden;
}
